doctype html
html
  head
    title ShopEasy - Grocery Store
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
    style.
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
      main {
        flex: 1;
      }
  body
    header#header.mb-4
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href="/") ShopEasy
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNav
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href="/") Home
            li.nav-item
              a.nav-link(href="/fruits-vegetables") Fruits & Vegetables
            li.nav-item
              a.nav-link(href="/about") About
            li.nav-item
              a.nav-link(href="/contact") Contact
    main
      block layout-content
    footer.bg-light.text-center.p-3.mt-auto
      p &copy; 2024 ShopEasy. All rights reserved.