extends layout

block content
  .container.mt-5
    .row
      .col-md-12
        h1 About Us
        p Here at [Your Gym's Name], we're dedicated to building not just bodies but also strong communities.
        p Our mission is to provide the highest quality gym equipment that enables our customers to achieve their fitness goals.
