extends layout

block content
  .container.mt-5
    .row
      .col-md-12
        h1 Privacy Policy
        h2 Data Collection
        p We collect data to enhance your shopping experience. Here’s how:
          ul
            li Information you provide when registering
            li Details of your visits to our website and the resources that you access, including, but not limited to, traffic data, location data, weblogs, and other communication data.
        h2 Data Usage
        p We use the data we collect from you in the following ways:
          ul
            li To improve our website and our services.
            li To serve you better by responding to your customer service requests efficiently.
        p
          strong Note:
          |  Your information is kept secure and confidential. For more information, please read our full privacy statement.
